@charset "utf-8";
.���� {
	font-family: "����";
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-align: center;
	background-color: #CCCCCC;
}
.���� {
	font-family: "����";
	font-size: 14px;
}
